@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Maven Pro",sans-serif;
}
.main_div{
    height:100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    background: #e8e8e8;
}
.center_div{
    width: 400px;
    height:250px;
    border-radius: 10px;
    box-shadow: 2px 30px 20px rgba(0,0,0, 0.3);
    padding:30px 20px;
    background: linear-gradient(to right top,#52b6fe,#6154fe);
    box-sizing: border-box;
    position: relative;
}
.center_div .top_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}
.center_div .top_div h2{
    font-weight: 300;
    color:#fff;
    font-size: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
    z-index: 2;
}
.center_div .top_div h1{
    color:#fff;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    z-index: 2;
}
.center_div .bottom_div{
    position: absolute;
    bottom:20px;
}
.center_div .bottom_div h3{
    letter-spacing:1px;
    text-transform: uppercase;
    padding: 9px 2px;
    color:#fff;
    font-size:15px;
    z-index: 2;
}
.center_div .bottom_div p{
    letter-spacing: 2px;
    color:#fff;
    z-index: 2;
}
.center_div::before{
    content: '';
    position: absolute;
    width: 400px;
    height:250px;
    left:0;
    right: 0;
    top:0;
    bottom:0;
    background:linear-gradient(90deg, rgba(2,0,36,1) 15%, rgba(51,51,185,1) 44%, rgba(0,212,255,1) 100%);;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 66% 26%);
    border-radius: 10px;
    opacity:0.5;
    z-index: 0;
}